gradient {
    background: -webkit-linear-gradient(left, #9357cc 0%, #2989d8 50%, #2cc99d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blurslider-line {
    background: -webkit-linear-gradient(left, #9357cc 0%, #2989d8 50%, #2cc99d 100%) !important;
}

#rev_slider_212_1 .uranus.tparrows {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
}

#rev_slider_212_1 .uranus.tparrows:before {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

#rev_slider_212_1 .uranus.tparrows:hover:before {
    opacity: 0.75;
}
