// Put here all the styles you want to add or edit


.milestone-count-non-interactive {
    font-size: 60px;
    font-family: "Nunito", sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
  }