// Put here all the styles you want to add or edit
.milestone-count-non-interactive {
    font-size: 60px;
    font-family: "Nunito", sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.scope-r-logo {
    width: 128px;
    height: 26px;
}

.tap-targets {
    height: 50px;
    @media only screen and (min-width: 992px) {
        height: auto;
    }
}

.scope-r-svg  {
    fill: #fcfcfc !important;
}